extends layout

block content
  
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading TortugaSoft Inc.
      p #{title}
      p
        a.btn.btn-primary(href='#') Quienes somos?
  
  section.text-center
    .container
      .row
        .col-lg-4
          img.img-circle(src="/img/emma.jpg", alt='Card image cap' width="140" height="140")
          h2 Emma
          p Aca va la bio de Emma
        .col-lg-4
          img.img-circle(src="/img/gabi.jpg", alt='Card image cap' width="140" height="140")
          h2 Gabi
          p Aca va la bio de Gabi
        .col-lg-4
          img.img-circle(src="/img/charly.jpg", alt='Card image cap' width="140" height="140")
          h2 Charly
          p Aca va la bio de Charly
