extends layout

block content
    .jumbotron.text-center
      .container
        h1.display-3 #{title}
        br
        p ¡El mejor sistema de gestión contable jamás concebido!
        p
          a.btn.btn-primary.btn-long(href='/acercade') ¡Conozca más! &raquo;
